<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Properties>
    <!-- requestid will be taken from ThreadContext -->
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}{UTC}|%X{requestid}|%p|%F:%L|%.10240m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout charset="UTF-8" pattern="${LOG_PATTERN}" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="DEBUG">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>

</Configuration>